<div class="container">
    <header class="header">
        <h3>
        <nav>
            <a routerLink="/">Home</a> | 
            <a routerLink="/about">About</a> | 
            <a routerLink="/projects">Projects</a> | 
            <a routerLink="/experience">Experience</a> | 
            <a routerLink="/contact">Contact</a> 
        </nav>
        </h3>
    </header>
    <div class="about">
        <picture class="picture">
            <img src="assets/about/Headshot.jpg" alt="" class="about-picture"/>
        </picture>
        <div class="about-text animate__animated animate__bounceInDown">
            <h1>
                Hello! My name is Kinza and I'm a senior at the University of Minnesota
            </h1>
            <p class="about-paragraph">
               Ever since I was a young girl I have had an interest in learning new things. Whether that be a new recipe, a new sport, or a new language, 
               I am always willing to try out something new! This is how I got into this world of programming. As I studied computer science principles and 
               algorithms, I developed a sense of respect and deep appreciation for these incredible concepts. Ever since, I've been exploring many programming
               tools and technologies to expand my toolbox and most importantly learn! 
              <br><br>
              Besides being a Computer Science and Management student at the University of Minnesota, a software engineer intern at Target, and working on programming projects, you can often
              find me spending quality time with my family and friends, mountain biking with my dad, reading a good book, or traveling!
              </p>
        </div>
        <!-- <div class="about-picture">
            <img src="assets/about/Headshot1.jpg" alt="" class="about-img" />
        </div> -->
    </div>
   
</div>


