* {
  background-color: #F2F4F8;
}

.about-text h1{
  font-weight: 500;
  font-size: 35px;
color: #232320;
line-height: 150%;
}

.about-text p{
  color: #656270;
font-size: 18px;
line-height: 32px;
}
.about {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 30px;
    margin: auto;
    max-width: 860px;
    padding: 50px 0px;
}

.about-picture {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 52px 74px rgba(0,21,64,.138559);
  max-width: 580px;
}

.about-text{
  width: 150%;
  padding-left: 50px;
}

@media screen and (max-width: 1400px){

.about-text{
  width: 100%;
}
}

@media screen and (max-width: 1000px){
  .about-picture {
    width: 382px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .about {
    grid-template-columns: none;
}
.about-text{
  width: 80%;
  padding-right: 50px;
}
.animate__animated {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
}