.experience-cards-div {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 5rem 5rem; */
  }
  
  .experience-container {
    display: flex;
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
  }
  
  .experience-container>* {
    flex: 1;
  }

  @media screen and (max-width: 600px) {
    .card {
      max-height: none;
    }
  }