* {
  background-color: #F2F4F8;
}

.projects-cards-div {
  display: grid;
}

.projects-section {
    padding-top: 40px;
}
img {
  width: 900px;
  height: 500px;
}

.text {
  position: absolute;
  font: bold 40px ; 
   letter-spacing: 5px;  
   background-color: transparent !important;
   padding: 10px; 
   font-weight: bolder;
   color: rgb(0, 0, 0);
   text-shadow: 0px 1px, 1px 0px, 1px 1px;
   text-align: center;
}

.projects-heading {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.projects-container>* {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .card {
    max-height: none;
  }
}

@media screen and (max-width: 1000px){
  img {
    width: auto;
    height: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .text {
    z-index: 1;
  }
}
  