<div class="container">
    <header class="header">
        <h3>
        <nav>
            <a routerLink="/">Home</a> | 
            <a routerLink="/about">About</a> | 
            <a routerLink="/projects">Projects</a> | 
            <a routerLink="/experience">Experience</a> | 
            <a routerLink="/contact">Contact</a> 
        </nav>
        </h3>
    </header>

    <div class="projects-section">
        <div class="projects-container">
            <div class="projects-cards-div">
                <div class="card" *ngFor="let card of projects">
                    <h2 class="text">{{ card.name }}</h2>
                    <a [routerLink]="['/project', card.url]"><img src={{card.backgroundImg}}></a>
                </div>
            </div>
        </div>
    </div>

</div>

