.projects-cards-div {
  display: grid;
}

.projects-section {
    padding-top: 40px;
}
img {
  width: 900px;
  height: 500px;
}

.text {
    position: absolute;
  left: 50%;
  transform: translate(-50%, 450%);
  font: bold 40px ; 
   letter-spacing: 5px;  
   background-color: transparent !important;
   padding: 10px; 
   font-weight: bolder;
   color: rgb(0, 0, 0);
   text-shadow: 0px 1px, 1px 0px, 1px 1px;
   text-align: center;
}

.projects-heading {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.projects-container>* {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .projects-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .projects-heading {
    font-size: 30px;
    text-align: center;
  }
}
  