<div class="container">
    <header class="header">
        <h3>
        <nav>
            <a routerLink="/">Home</a> | 
            <a routerLink="/about">About</a> | 
            <a routerLink="/projects">Projects</a> | 
            <a routerLink="/experience">Experience</a> | 
            <a routerLink="/contact">Contact</a> 
        </nav>
        </h3>
    </header>
    <div class="bootstrap-iso contact">
    
        <section class="section">
            <h1 class="header">Contact Me!</h1>
            <div class="container box">
                <form class="form-horizontal" (ngSubmit)="processForm()" #contactForm="ngForm">
    
                    <!-- name -->
                    <div class="form-group field">
                      <input 
                        type="text" 
                        name="name" 
                        class="form-control input" 
                        placeholder="Your Name" 
                        [(ngModel)]="name"
                        required
                        minlength="3"
                        #nameInput="ngModel">
                  
                      <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                        Name is required and needs to be at least 3 characters long.
                      </div>
                    </div>
                  
                    <!-- email -->
                    <div class="form-group field">          
                      <input 
                        type="email" 
                        name="email" 
                        class="form-control input" 
                        placeholder="Your Email" 
                        [(ngModel)]="email"
                        required
                        email
                        #emailInput="ngModel">
                  
                      <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                        Needs to be a valid email.
                      </div>
                    </div>
                  
                    <!-- message -->
                    <div class="form-group field">
                      <textarea 
                        class="form-control textarea" 
                        name="message" 
                        placeholder="What's on your mind?" 
                        [(ngModel)]="message"
                        required
                        #messageInput="ngModel"></textarea>
                  
                        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                          Your message is required!
                        </div>
                    </div>
                  
                    <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Submit</button>
                  
                  </form>
            
            </div>

            <div id="social-box">
              <a id="social-id" target="_blank" href="https://github.com/kinzaahmed-web">
                <img id="github-social" class="social-icons" alt="Github Link" src="assets/github1.png">
              </a>
              <a id="social-id" target="_blank" href="https://www.linkedin.com/in/kinzaahmed/">
                <img id="linkedin-social" class="social-icons" alt="LinkedIn Link" src="assets/linkedin.png">
              </a>
              <a id="social-id" target="_blank" href="mailto:kinza1013@yahoo.com">
                  <img id="email-social" class="social-icons" alt="Email Link" src="assets/email.png">
              </a>
          </div>
            </section>
    </div>
</div>


