* {
    background-color: #F2F4F8;
  }

.header{
    color: #b4a3ce;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 20;
}

@media screen and (min-width: 1000px) {
    .box {
        padding: 5%;
    }
}