<div class="container">
    <header class="header">
        <h3>
        <nav>
            <a routerLink="/">Home</a> | 
            <a routerLink="/about">About</a> | 
            <a routerLink="/projects">Projects</a> | 
            <a routerLink="/experience">Experience</a> | 
            <a routerLink="/contact">Contact</a> 
        </nav>
        </h3>
    </header>
    
    <div class="project-section">
        <div class="project" *ngFor="let proj of project">
         <div class="container">
            <h2 *ngIf="proj.webLink">The problem : <a href="{{ proj.webLink }}" target="_blank">{{ proj.name }}</a></h2>
            <h2 *ngIf="!proj.webLink">The problem : {{ proj.name }}</h2>


            <div [innerHTML]="proj.problem"></div>

            <div class="row">
                <div class="col">
          
                <h3 class="project_sub">My Approach</h3>
          
                {{ proj.myApproach }}

                <h3 class="project_sub">Technologies</h3>
          
                <div [innerHTML]="proj.technologies"></div>

                <h3 class="project_sub">Challenges</h3>

                {{ proj.challenges }}

                <h3 class="project_sub">Results</h3>

                {{ proj.results }}
          
                <h3 class="project_sub">What I would do differently</h3>
          
                {{ proj.different }}
                </div>
                <div class="vid-container">
                    <iframe class="frame" [src]="videoURL()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
          </div>
    </div>
</div>