* {
    background-color: #F2F4F8;
  }
  
video {
    height: 100%;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
  }

.container {
    margin: 0 50;
}

h2 {
    font-weight: bold;
}

.project_sub {
    margin-top: 5%;
    font-style: oblique;
    font-weight: bold;
}

.frame {
    width:800;
    height:500;
    padding: 20px;
}

@media screen and (min-width: 700px){
    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
}

@media screen and (max-width: 700px){
    .container {
        margin: 0 10;
    }
    .frame {
        width: auto;
        height:auto;
        padding-top: 20px;
    }
    .row {
        grid-template-columns: none;
    }
}