video {
    height: 100%;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
  }

.container {
    margin: 0 50;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

h2 {
    font-weight: bold;
}

.project_sub {
    margin-top: 5%;
    font-style: oblique;
    font-weight: bold;
}
/* .card {
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 52px 74px rgba(0,21,64,.138559);
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto 4em; */
    /* transition: transform .2s;  */
  /* } */
 /* .video:hover {
    transform: scale(1.05); 
  } */