<div class="container">
    <header class="header">
        <h3>
        <nav>
            <a routerLink="/">Home</a> | 
            <a routerLink="/about">About</a> | 
            <a routerLink="/projects">Projects</a> | 
            <a routerLink="/experience">Experience</a> | 
            <a routerLink="/contact">Contact</a> 
        </nav>
    </h3>
    </header>
    <img id="vector-1" class="animate__animated animate__slideInDown" src="assets/flower-vector.png">
    <img id="vector-2" class="animate__animated animate__slideInUp" src="assets/flower-vector.png">
    <img id="vector-3" class="animate__animated animate__slideInDown" src="assets/flower-vector.png">
    <img id="vector-4" class="animate__animated animate__slideInUp " alt="" src="assets/flower-vector.png">
    <img id="vector-5" class="animate__animated animate__slideInDown"alt="" src="assets/flower-vector.png">
    <img id="vector-6" class="animate__animated animate__slideInDown" src="assets/flower-vector.png">
    <img id="vector-7" class="animate__animated animate__slideInUp" alt="" src="assets/flower-vector.png">
    <img id="vector-8" class="animate__animated animate__slideInDown"alt="" src="assets/flower-vector.png">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h4>HELLO MY NAME IS,</h4>
            <h1 *ngIf="true" id="wording" class="name-h1">KINZA AHMED</h1>
            <div class="mini-intro-text">
                <div *ngFor="let word of words">
                    <h4 @fadeElement *ngIf="word.present">
                        {{ word.title }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div id="social-box">
        <a id="social-id" href="https://github.com/kinzaahmed-web">
          <img id="github-social" class="social-icons" alt="Github Link" src="assets/github1.png">
        </a>
        <a id="social-id" href="https://www.linkedin.com/in/kinzaahmed/">
          <img id="linkedin-social" class="social-icons" alt="LinkedIn Link" src="assets/linkedin.png">
        </a>
        <a id="social-id" href="mailto:kinza1013@yahoo.com">
            <img id="email-social" class="social-icons" alt="Email Link" src="assets/email.png">
        </a>
    </div>
</div>


