<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h4>HELLO MY NAME IS,</h4>
            <h1 class="name-h1">KINZA AHMED</h1>
            <h4><div class="mini-intro-text text-center">
                <span class="words hidden">Student</span>
                <span class="words hidden">Developer</span>
                <span class="words hidden">Creative Thinker</span>
                <span class="words hidden">Reader</span>
                <span class="words hidden">Traveller</span>
              </div></h4>
        </div>
    </div>
</div>
